[Unit]
Description=Déployer automatiquement la dernière version de Footato
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/footato.env
ExecStart=/opt/footato/server/update.sh
